.app{
  margin: 2rem;
  padding:2rem;
}

h3{
  font-family: sans-serif;
  text-align: center;
  color: #0b0405;
}

.container{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.item{
  display:flex;
  flex-direction:column;
  width:90px;
  height:90px;
  margin:.5rem;
  padding:0.5rem;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px grey;

  line-height:1px;
}

.type-selected{
  background-color: darkred;
}


