.app{
  margin: 2rem;
  padding:2rem;
}
h1{
  color: #17556b;
}


.container{
  margin-top: 2rem;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.item{
  display:flex;
  flex-direction:column;
  width:90px;
  height:90px;
  margin:.5rem;
  padding:0.5rem;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px grey;

  line-height:1px;
}

.type-selected{
  background-color: #17556b;
}

.navbar {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
   height: 3em;
   justify-content: center;
   align-items: center;
   box-shadow: none;
 }
.header {
  display: flex;
  background: linear-gradient(rgb(23, 85, 107), rgba(0, 0, 0, 0));
  height: 3em;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.header ul {
  display: flex;
  list-style: none;
  width: 90vw;
  margin: 0;
  height: 3em;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.typeBtn {
   text-decoration: none;
   margin: 1em;
   color: #17556b;
   transition: 0.5s;
 }



.footer {
  height: 3em;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  color: #FFF;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}


